<!DOCTYPE html>
<html lang="ja">
<head>
  <title>{{ page.title }} - Asa's Blog</title>
  {% feed_meta %}
  {% include meta.html logotitle="Blog" subdomain="/blog" %}
  {% include css.html %}
  {% include script.html %}
  <link rel="canonical" href="https://a01sa01to.com/blog{{ page.relPath }}">
  <link rel="stylesheet" href="/css/blog_post.css">
</head>
<body id="top">
  <header>{% include header.html logotitle="Blog" subdomain="/blog" %}</header>
  <main>
    <div class="container">
      <div>
        <h1>{{ page.title }}</h1>
        <p class="tags">
          Tags:
          {% for tag in page.tags %}
            <a href="/blog/tags/{{ tag }}/" class="tag">{{ tag }}</a>&nbsp;
          {% endfor %}
        </p>
        <p class="date"><nobr>Published on {{ page.date | date: "%Y.%m.%d"}}.<wbr> Last Modified on {{ page.last_modified_at | date: "%Y.%m.%d"}}.</nobr></p>
        <div class="article">
          {{ content }}
          <p class="a_few_word">{{ page.a_few_word }}</p>
        </div>
        {% assign pageYear = page.date | date: "%Y" %}
        {% assign todayYear = "now" | date: "%Y" %}
        {% if todayYear == pageYear %}
          <a href="/blog/list/">&lt; Post in {{ pageYear }}</a>
        {% else %}
          <a href="/blog/list/{{ pageYear }}">&lt; Post in {{ pageYear }}</a>
        {% endif %}
      </div>
    </div>
  </main>
  <footer>{% include footer.html %}</footer>
  <a href="#top" id="gototop"><span class="material-icons">keyboard_arrow_up</span></a>
</body>
</html>