<!DOCTYPE html>
<html lang="ja">
<head>
  <title>{{ page.title }} - Asa's Blog</title>
  {% include meta.html logotitle="Blog" subdomain="blog." %}
  {% include css.html %}
  {% include script.html %}
  <link rel="canonical" href="https://blog.a01sa01to.com{{ page.relPath }}">
  <link rel="stylesheet" href="/css/blog.css">
</head>
<body id="top">
  <header>{% include header.html logotitle="Blog" %}</header>
  <main>
    <div class="container">
      <div>
        <h1>{{ page.title }}</h1>
        <p class="tags">
          Tags:
          {% for tag in page.tags %}
            <a href="/tags/{{ tag }}" class="tag">{{ tag }}</a>&nbsp;
          {% endfor %}
        </p>
        <p class="date">{{ page.date | date: "%Y.%m.%d"}}</p>
        <div class="article">
          {{ content }}
        </div>
        <a href="./">&lt; Post in {{ page.date | date: "%Y.%m" }}</a>
      </div>
    </div>
  </main>
  <footer>{% include footer.html %}</footer>
  <a href="#top" id="gototop"><span class="material-icons">keyboard_arrow_up</span></a>
</body>
</html>