<!DOCTYPE html>
<html>
  <head>
    {% include meta.html logotitle="Opendata Catalog" subdomain="/opendata" %}
    <title lang="ja">
      {{ page.titleJa }} | {{ page.parentJa }} - Asa's Opendata Catalog
    </title>
    <title lang="en">
      {{ page.titleEn }} | {{ page.parentEn }} - Asa's Opendata Catalog
    </title>
    {% feed_meta %} {% include css.html %} {% include script.html %}
    <link rel="stylesheet" href="/css/opendata.css" />
  </head>
  <body id="top">
    <header>
      {% include header.html logotitle="Opendata Catalog" subdomain="/opendata"
      %}
    </header>
    <main>
      <div class="container">
        <div>
          <h1 lang="ja">{{ page.titleJa }}</h1>
          <h1 lang="en">{{ page.titleEn }}</h1>
          <br />

          <nav aria-label="breadcrumb">
            <ol class="breadcrumb" lang="ja">
              <li class="breadcrumb-item"><a href="/opendata/">Home</a></li>
              <li class="breadcrumb-item">
                <a href="/opendata/list">提供オープンデータ一覧</a>
              </li>
              <li class="breadcrumb-item">
                <a href="./">{{ page.parentJa }}</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                {{ page.titleJa }}
              </li>
            </ol>
            <ol class="breadcrumb" lang="en">
              <li class="breadcrumb-item"><a href="/opendata/">Home</a></li>
              <li class="breadcrumb-item">
                <a href="/opendata/list">Open Data List</a>
              </li>
              <li class="breadcrumb-item">
                <a href="./">{{ page.parentEn }}</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                {{ page.titleEn }}
              </li>
            </ol>
          </nav>

          <p class="desc" lang="ja">{{ page.descriptionJa }}</p>
          <p class="desc" lang="en">{{ page.descriptionEn }}</p>
          <br />
          <p class="note" lang="ja">
            当データを利用した作品を公開する際には、必ず当ページへのリンクを記載してください。
          </p>
          <p class="note" lang="en">
            When you publish a work using this data, please be sure to include a
            link to this page.
          </p>
          <h2 lang="ja">情報</h2>
          <h2 lang="en">Information</h2>
          <input
            type="hidden"
            name="fn"
            value="/opendata/data/{{ page.opendir }}/{{ page.filename }}"
          />
          <table>
            <tr lang="ja">
              <th>フィールド</th>
              <th>値</th>
            </tr>
            <tr lang="en">
              <th>Field</th>
              <th>Value</th>
            </tr>
            <tr>
              <td lang="ja">最終更新</td>
              <td lang="en">Last Update</td>
              <td id="upd"></td>
            </tr>
            <tr>
              <td lang="ja">作成日</td>
              <td lang="en">Publish</td>
              <td>{{ page.firstPub }}</td>
            </tr>
            <tr>
              <td lang="ja">ファイル名</td>
              <td lang="en">File Name</td>
              <td>{{ page.filename }}</td>
            </tr>
            <tr>
              <td lang="ja">ファイルサイズ</td>
              <td lang="en">File Size</td>
              <td id="filesize"></td>
            </tr>
            <tr>
              <td lang="ja">データ形式</td>
              <td lang="en">Data Format</td>
              <td id="format">
                {% if page.csv %}CSV{% endif %}{% if page.json %}JSON{% endif %}
              </td>
            </tr>
            <tr lang="ja">
              <td>ライセンス</td>
              <td>
                <a
                  href="https://creativecommons.org/licenses/by/4.0/deed.ja"
                  target="_blank"
                  rel="noopener noreferrer"
                  >CC BY 4.0</a
                ><br />出所の表示は必須ですが、商業利用・改変は許可されます。
              </td>
            </tr>
            <tr lang="en">
              <td>License</td>
              <td>
                <a
                  href="https://creativecommons.org/licenses/by/4.0/deed.en"
                  target="_blank"
                  rel="noopener noreferrer"
                  >CC BY 4.0</a
                ><br />Indication of the source is required, but commercial use
                and modification is permitted.
              </td>
            </tr>
          </table>
          <p lang="ja" style="margin: 10px; text-align: center">
            何か不具合や要望があれば、<a
              href="mailto:info%40a01sa01to.com"
              target="_blank"
              rel="noopener noreferrer"
              >info@a01sa01to.com</a
            >にお寄せください。
          </p>
          <p lang="en" style="margin: 10px; text-align: center">
            If you have any problems or requests, please send them to
            <a
              href="mailto:info%40a01sa01to.com"
              target="_blank"
              rel="noopener noreferrer"
              >info@a01sa01to.com</a
            >.
          </p>
          <h2 lang="ja">ダウンロード</h2>
          <h2 lang="en">Download</h2>
          <p class="note" lang="en">Note that the data is only in Japanese.</p>
          <div class="flex" lang="ja">
            <button
              type="button"
              class="btn btn-outline-dark pre"
              data-bs-toggle="modal"
              data-bs-target=".modal#preview"
            >
              <span class="material-icons">remove_red_eye</span>
              プレビュー
            </button>
            <button
              type="button"
              class="btn btn-outline-dark dl"
              data-bs-toggle="modal"
              data-bs-target=".modal#dl"
            >
              <span class="material-icons">file_download</span>
              ダウンロード
            </button>
            <button
              type="button"
              class="btn btn-outline-dark api"
              data-bs-toggle="modal"
              data-bs-target=".modal#api"
            >
              <span class="material-icons">code</span>
              データへのURLを取得する
            </button>
          </div>
          <div class="flex" lang="en">
            <button
              type="button"
              class="btn btn-outline-dark pre"
              data-bs-toggle="modal"
              data-bs-target=".modal#preview"
            >
              <span class="material-icons">remove_red_eye</span>
              Preview
            </button>
            <button
              type="button"
              class="btn btn-outline-dark dl"
              data-bs-toggle="modal"
              data-bs-target=".modal#dl"
            >
              <span class="material-icons">file_download</span>
              Download
            </button>
            <button
              type="button"
              class="btn btn-outline-dark api"
              data-bs-toggle="modal"
              data-bs-target=".modal#api"
            >
              <span class="material-icons">code</span>
              Get URL to the data
            </button>
          </div>

          <div class="modal fade" id="preview">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" lang="ja">プレビュー</h5>
                  <h5 class="modal-title" lang="en">Preview</h5>
                </div>
                <div class="modal-body" style="width: 500px">
                  <div id="ace"></div>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    Close
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="modal fade" id="dl">
            <div
              class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
            >
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" lang="ja">ダウンロード</h5>
                  <h5 class="modal-title" lang="en">Download</h5>
                </div>
                <div class="modal-body">
                  <p lang="ja">
                    以下の説明・注意点を必ずお読みになってから、{{ page.titleJa
                    }}をダウンロードしてください。
                  </p>
                  <p lang="en">
                    Please be sure to read the following instructions and
                    cautions before downloading {{ page.titleEn }}.
                  </p>
                  <ul>
                    {{ content }}
                  </ul>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-outline-primary"
                    lang="ja"
                  >
                    ファイルをダウンロード
                  </button>
                  <button
                    type="button"
                    class="btn btn-outline-primary"
                    lang="en"
                  >
                    Download the File
                  </button>
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    Close
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="modal fade" id="api">
            <div
              class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
            >
              <div class="modal-content">
                <div
                  class="
                    toast
                    align-items-center
                    top-0
                    end-0
                    toast-container
                    position-absolute
                    p-3
                    text-white
                  "
                  role="alert"
                  aria-live="assertive"
                  aria-atomic="true"
                >
                  <div class="toast-body">
                    Hello, world! This is a toast message.
                  </div>
                </div>
                <div class="modal-header">
                  <h5 class="modal-title" lang="ja">URLを取得</h5>
                  <h5 class="modal-title" lang="en">Get the URL</h5>
                </div>
                <div class="modal-body">
                  <p lang="ja">
                    以下の説明・注意点を必ずお読みになってから、{{ page.titleJa
                    }}をダウンロードしてください。
                  </p>
                  <p lang="en">
                    Please be sure to read the following instructions and
                    cautions before downloading {{ page.titleEn }}.
                  </p>
                  <p lang="ja">
                    APIもご利用いただけます。詳細は<a
                      href="/opendata/api"
                      target="_blank"
                      rel="noopener noreferrer"
                      >こちら</a
                    >のページをご覧ください。
                  </p>
                  <p lang="en">
                    APIs are also available. For more information, please visit
                    the page
                    <a
                      href="/opendata/api"
                      target="_blank"
                      rel="noopener noreferrer"
                      >here</a
                    >.
                  </p>
                  <ul>
                    {{ content }}
                  </ul>
                </div>
                <div class="modal-footer">
                  <code
                    >https://a01sa01to.com/opendata/data/{{ page.opendir }}/{{
                    page.filename }}</code
                  ><br /><br />
                  <button
                    type="button"
                    class="btn btn-outline-primary"
                    data-clipboard-target=".modal#api code"
                    lang="ja"
                  >
                    <span class="material-icons">content_copy</span>URLをコピー
                  </button>
                  <button
                    type="button"
                    class="btn btn-outline-primary"
                    data-clipboard-target=".modal#api code"
                    lang="en"
                  >
                    <span class="material-icons">content_copy</span>Copy the URL
                  </button>
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    Close
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer>{% include footer.html %}</footer>
    <a href="#top" id="gototop"
      ><span class="material-icons">keyboard_arrow_up</span></a
    >
  </body>
</html>
