<!DOCTYPE html>
<html lang="ja">
<head>
  <title>{% if page.title != "TOP" %}{{ page.title }} - {% endif %}Asa's Opendata Catalog</title>
  {% feed_meta %}
  {% include meta.html logotitle="Opendata Catalog" subdomain="opendata." %}
  {% include css.html %}
  {% include script.html %}
</head>
<body id="top">
  <header>{% include header.html logotitle="Opendata Catalog" %}</header>
  <main>{{ content }}</main>
  <footer>{% include footer.html %}</footer>
  <a href="#top" id="gototop"><span class="material-icons">keyboard_arrow_up</span></a>
</body>
</html>