footer {
  width: 100vw;
  height: fit-content;
  padding: 6px;
  color: var(--bs-gray-dark);
  background-color: var(--bs-white);
  box-shadow: 0 0 10px 0 var(--bs-gray);

  p#copyright {
    text-align: center;
  }

  .sbInner a {
    box-sizing: border-box;
    display: block;
    float: left;
    width: 80px;
    max-width: 15%;
    padding: 0.7em 0;
    font-weight: 700;
    // color: #666;
    color: var(--bs-white);
    text-align: center;
    text-decoration: none;

    &,
    &:link,
    &:visited,
    &:hover,
    &:active,
    &:focus {
      // color: #666;
      color: var(--bs-white);
    }
  }

  div#links {
    margin-bottom: 24px;

    ul {
      display: flex;
      justify-content: space-around;
      list-style: none;

      li {
        // display: inline-block;
        width: fit-content;
        margin: auto;

        a {
          color: var(--bs-gray-dark);
          text-decoration: none;
        }
      }
    }
  }

  .sb {
    max-width: 1000px;
    font-family: var(--bs-font-sans-serif);
    font-size: 18px;
    text-align: center;

    .sbInner {
      display: flex;
      justify-content: space-around;
      margin-top: 8px;
    }

    .sbInner::after {
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
      content: '.';
    }

    .sBtn {
      transition: 0.3s ease-in-out;

      &.sBtn-twitter {
        background: #1b95e0;
      }

      &.sBtn-line {
        background: #1dcd00;
      }

      &.sBtn-facebook {
        background: #3b5998;
      }

      &.sBtn-pocket {
        background: #ee4056;
      }

      &.sBtn-hatena {
        background: #008fde;
      }

      &:hover {
        filter: alpha(opacity=60);
        opacity: 0.6;
      }
    }
  }

  /* 画面サイズが768px以上の時 */
  @media only screen and (min-width: 768px) {
    footer .sBtn::after {
      margin-left: 0.25em;
      font-weight: 700;

      &.sBtn-facebook::after {
        content: 'Facebook';
      }

      &.sBtn-twitter::after {
        content: 'Twitter';
      }

      &.sBtn-line::after {
        content: 'LINE';
      }

      &.sBtn-pocket::after {
        content: 'Pocket';
      }

      &.sBtn-hatena::after {
        content: 'Hatena';
      }
    }
  }
}
