header{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100vw;
  height: 48px;
  padding: 6px;
  line-height: 36px;
  color: var(--bs-gray-dark);
  background-color: #fffa;
  box-shadow: 0 0 10px 0 var(--bs-gray);
  backdrop-filter: blur(7.5px);

  p#title{
    margin: 0;
    font-size: 1.3rem;
    text-align: center;
  }

  #left{
    margin: 0;
    margin-right: auto;
    text-align: left;
  }

  #center{
    margin: 0 auto;
    text-align: center;
  }

  #right{
    position: relative;
    margin: 0;
    margin-left: auto;
    text-align: right;

    input{
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
      width: 36px;
      height: 36px;
      cursor: pointer;
      opacity: 0;

      div#menuIcon{
        position: relative;
        top: 0;
        right: 0;
        width: 36px;
        height: 36px;

        [id^="bar"]{
          position: absolute;
          left: 4px;
          width: 28px;
          height: 2px;
          background: var(--bs-gray-dark);
          transition: 0.3s;
        }

        #bar1{
          top: 12px;
        }

        #bar2{
          bottom: 12px;
        }
      }

      &:checked+ div#menuIcon{

        #bar1{
          top: 17px;
          transform: rotate(45deg);
        }

        #bar2{
          bottom: 17px;
          transform: rotate(-45deg);

        }
      }

      div#menuItem{
        position: fixed;
        top: 54px;
        left: 0;
        z-index: -1;
        width: 100vw;
        height: calc(100vh - 54px);
        max-height: none;
        padding: 16px;
        overflow-y: auto;
        visibility: hidden;
        background: var(--bs-light);
        opacity: 0;
        transition: 0.3s;

        p.border{
          height: 0;
          margin: 8px;
          border: 0.5px dotted var(--bs-gray);
        }

        li{
          font-size: 1.3em;
          list-style: none;

          a{ text-decoration: none; }

          &.social{

            > *{
              margin: 8px;
            }
          }
        }
      }

      &:checked ~ div#menuItem{
        z-index: 1;
        visibility: visible;
        opacity: 1;
      }
    }

  }

}