h1 {
  text-align: center;
}

h2 {
  width: 100%;
  margin-top: 48px;
  margin-bottom: 4px;
  text-align: left;
  border-bottom: 2px solid var(--bdCol);

  &#asas {
    --bdCol: #0d47a1;
  }

  &#bakakkoii {
    --bdCol: #014715;
  }

  &#youtube {
    --bdCol: #f00;
  }

  &#twitter {
    --bdCol: #1da1f2;
  }

  &#github {
    --bdCol: #181717;
  }

  &#instagram {
    --bdCol: #e4405f;
  }
}

p {
  padding-left: 8px;
  margin-bottom: 8px;
  font-weight: 200;
  color: var(--bs-gray-dark);
}
