---
layout: blog
title: 記事一覧
relPath: /list/
last_modified_at: 2020-11-23
---
{% assign yr = 2020 %}

<div class="container center">
  <div>
    <h1>{{ yr }}年の記事一覧</h1>
    <a href="../" class="back">&lt; Top</a>
    {% for month in (1..12) reversed %}
      <h2>{{ month }}月</h2>
      {% capture firstDate %}{{yr}}-{{month}}-01{% endcapture %}
      {% capture lastDate %}{{yr}}-{{month}}-31{% endcapture %}
      {% assign firstDate = firstDate | date: "%s" %}
      {% assign lastDate = lastDate | date: "%s" %}

      <div class="article_container">
        {% for post in site.posts %}
          {% assign postDate = post.date | date: "%s" %}
          {% if firstDate <= postDate and postDate <= lastDate %}
          <div class="article_card">
            <p class="title"><a href="{{ post.url }}">{{ post.title }}</a></p>
            <p class="date">{{ post.date | date: "%Y.%m.%d"}}</p>
          </div>
          {% endif %}
        {% endfor %}
      </div>
    {% endfor %}
  </div>
</div>