<div class='sb'>
  Share this page
	<div class='sbInner'>
		<!-- Facebook -->
		<a class='sBtn sBtn-facebook' href="https://www.facebook.com/sharer/sharer.php?u=PAGEURL" rel='nofollow' target='_blank' title="Facebook で共有する"><i class="fab fa-facebook-f"></i></a>
		<!-- Twitter -->
		<a class='sBtn sBtn-twitter' href="http://twitter.com/share?url=PAGEURL" rel='nofollow' target='_blank' title="Twitter で共有する"><i class="fab fa-twitter"></i></a>
		<!-- LINE -->
		<a class='sBtn sBtn-line' href="http://line.me/R/msg/text/?PAGEURL" rel='nofollow' target='_blank' title='LINE で共有する'><i class="fab fa-line"></i></a>
		<!-- Pocket -->
		<a class='sBtn sBtn-pocket' href="https://getpocket.com/edit?url=PAGEURL&title=PAGETITLE" rel='nofollow' target='blank' title='Pocket で共有する'><i class="fab fa-get-pocket"></i></a>
		<!-- B! Hatena -->
		<a class='sBtn sBtn-hatena' href="https://b.hatena.ne.jp/add?mode=confirm&url=PAGEURL&title=PAGETITLE" rel='nofollow' target='_blank' title='Hatena で共有する'><i aria-hidden='true' class='fa fa-hatena' style='font-weight: bold;'>B!</i></a>
	</div>
</div>

<p id="copyright">Copyright &copy; 2020 Asa(@a01sa01to)</p>