<div class="sb">
  Share this page!
  <div class="sbInner">
    <!-- Facebook -->
    <a
      class="shadow-lg mb-5 rounded sBtn sBtn-facebook"
      href="https://www.facebook.com/sharer/sharer.php?u=PAGEURL"
      rel="nofollow"
      target="_blank"
      title="Share on Facebook"
      ><i class="simpleicons" data-name="facebook"></i
    ></a>
    <!-- Twitter -->
    <a
      class="shadow-lg mb-5 rounded sBtn sBtn-twitter"
      href="http://twitter.com/share?url=PAGEURL&text=PAGETITLE&via=a01sa01to"
      rel="nofollow"
      target="_blank"
      title="Share on Twitter"
      ><i class="simpleicons" data-name="twitter"></i
    ></a>
    <!-- LINE -->
    <a
      class="shadow-lg mb-5 rounded sBtn sBtn-line"
      href="http://line.me/R/msg/text/?PAGETITLE%0APAGEURL"
      rel="nofollow"
      target="_blank"
      title="Share on LINE"
      ><i class="simpleicons" data-name="line"></i
    ></a>
    <!-- Pocket -->
    <a
      class="shadow-lg mb-5 rounded sBtn sBtn-pocket"
      href="https://getpocket.com/edit?url=PAGEURL&title=PAGETITLE"
      rel="nofollow"
      target="blank"
      title="Share on Pocket"
      ><i class="simpleicons" data-name="pocket"></i
    ></a>
    <!-- B! Hatena -->
    <a
      class="shadow-lg mb-5 rounded sBtn sBtn-hatena"
      href="https://b.hatena.ne.jp/add?mode=confirm&url=PAGEURL&title=PAGETITLE"
      rel="nofollow"
      target="_blank"
      title="Share on Hatena"
      ><i aria-hidden="true" class="fa fa-hatena" style="font-weight: bold"
        >B!</i
      ></a
    >
  </div>
</div>

<p id="copyright">Copyright &copy; 2020-2021 Asa(@a01sa01to)</p>
