<div id="left"></div>
<div id="center">
  <p id="title">Asa's Website</p>
</div>
<div id="right">
  <input type="checkbox" id="menuShow">
  <div id="menuIcon"><div id="bar1"></div><div id="bar2"></div></div>
  <div id="menuItem">
    <li><a href="">Top</a></li>
    <li><a href="">Blog</a></li>
    <li><a href="">Works</a></li>
    <li><a href="">Sitemap</a></li>
    <li class="social">
      <a href="https://github.com/a01sa01to" target="_blank">
        <i class="fab fa-github"></i>
      </a>
      <a href="https://twitter.com/a01sa01to" target="_blank">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://instagram.com/a01sa01to" target="_blank">
        <i class="fab fa-instagram"></i>
      </a>
    </li>
  </div>
</div>