<div id="left"></div>
<div id="center">
  <p id="title">Asa's {{ include.logotitle }}</p>
</div>
<div id="right">
  <input type="checkbox" id="menuShow">
  <div id="menuIcon"><div id="bar1"></div><div id="bar2"></div></div>
  <div id="menuItem">
    <li><a href="{{ include.subdomain }}/">{{ include.logotitle }} Top</a></li>
    {% if include.logotitle == "Website" %}
      <li><a href="/about">About Me</a></li>
      <li><a href="/works">Works</a></li>
    {% endif %}
    <p class="border"></p>
    <li><a href="/">Asa's Website Home</a></li>
    <li><a href="/blog/">Blog</a></li>
    <li><a href="/opendata/">Opendata Catalog</a></li>
    <li><a href="/works">Works</a></li>
    <li><a href="/sitemap/">Sitemap</a></li>
    <li class="social">
      <a href="https://github.com/a01sa01to" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-github"></i>
      </a>
      <a href="https://twitter.com/a01sa01to" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://instagram.com/a01sa01to" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="/feed.xml" target="_blank" rel="noopener">
        <i class="fas fa-rss"></i>
      </a>
    </li>
    <p class="border"></p>
    <li><a href="?lang=ja">Japanese</a></li>
    <li><a href="?lang=en">English</a></li>
    <li style="height: 54px;"></li>
  </div>
</div>