<meta charset="UTF-8">
<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text x=%2250%%22 y=%2250%%22 style=%22dominant-baseline:central;text-anchor:middle;font-size:60px;font-family:cursive;%22 fill=%22%230d47a1%22>Asa</text></svg>">
<meta name="viewport" content="width=device-width,minimum-scale=1.0, initial-scale=1.0, maximum-scale=10.0, shrink-to-fit=no">
{% if page.descriptionJa %}
  <meta name="description" content="{{ page.descriptionJa }}" lang="ja">
  <meta property="og:description" content="{{ page.descriptionJa }}" lang="ja">
{% endif %}
{% if page.descriptionEn %}
<meta name="description" content="{{ page.descriptionEn }}" lang="en">
<meta property="og:description" content="{{ page.descriptionEn }}" lang="en">
{% endif %}
<meta name="keywords" content="a01sa01to">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:domain" content="https://a01sa01to.com/">
<meta name="twitter:site" content="@a01sa01to">
<meta name="twitter:creator" content="@a01sa01to">
<meta property="og:url" content="https://a01sa01to.com{{ include.subdomain }}{{ page.relPath }}">
<meta property="og:title" content="{% if page.titleJa != "TOP" %}{{ page.titleJa }} - {% endif %}Asa's {{ include.logotitle }}" lang="ja">
<meta property="og:title" content="{% if page.titleEn != "TOP" %}{{ page.titleEn }} - {% endif %}Asa's {{ include.logotitle }}" lang="en">
<meta property="og:image" content="https://a01sa01to.com/img/twittercard.jpg">
<meta property="og:type" content="website">
<link rel="canonical" href="https://a01sa01to.com{{ include.subdomain }}{{ page.relPath }}">

<!-- Change Chrome Tab Color -->
<meta name="theme-color" content="#ffffff">