<script
  src="https://kit.fontawesome.com/7fba4a39db.js"
  crossorigin="anonymous"
  async
></script>
<script src="/bundle.js"></script>
<script
  data-ad-client="ca-pub-3296104264173235"
  async
  src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"
></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script
  async
  src="https://www.googletagmanager.com/gtag/js?id=G-Z23EQDNLQY"
></script>
<script>
  window.dataLayer = window.dataLayer || []
  function gtag() {
    dataLayer.push(arguments)
  }
  gtag('js', new Date())

  gtag('config', 'G-Z23EQDNLQY')
</script>
